@if (Mostrar)
{
    <div class="fixed-bottom bg-dark text-white py-3 px-4 shadow d-flex justify-content-between align-items-center" style="height: 122px; background-color: #212C46 !important;">
        <div style="margin-top: 51px; margin-bottom: 50px; margin-left: 54px; font-size: 14px;">
            <strong>@Selecionadas</strong> taxas selecionadas
        </div>
        <div>
            <button class="btn btn-sm me-2" style="background-color: #FFFFFF; color: #6057EE; font-size: 13px; width: 90px; height: 40px; border: 1px solid #6057EE;"  @onclick="Cancelar">CANCELAR</button>
            <button class="btn btn-sm" style="background-color: #6057EE; color: white; font-size: 13px; width: 83px; height: 40px;" @onclick="Eliminar">ELIMINAR</button>
        </div>
    </div>
}

@code {
    [Parameter] public int Selecionadas { get; set; }
    [Parameter] public EventCallback OnCancelar { get; set; }
    [Parameter] public EventCallback OnEliminar { get; set; }

    private bool Mostrar => Selecionadas > 0;

    private Task Cancelar() => OnCancelar.InvokeAsync();
    private Task Eliminar() => OnEliminar.InvokeAsync();
}
