<div class="list-group">
    @for (int i = 1; i <= 12; i++)
    {
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center @(CurrentStep == i ? "active" : "")"
           @onclick="() => OnStepChange.InvokeAsync(i)">
            Opção @i

            @if (CurrentStep == i)
            {
                <span class="spinner-border spinner-border-sm text-primary"></span>
            }
            else if (i < CurrentStep)
            {
                <i class="bi bi-check-circle-fill text-success"></i>
            }
        </a>
    }
</div>

@code {
    [Parameter] public int CurrentStep { get; set; }
    [Parameter] public EventCallback<int> OnStepChange { get; set; }
}
