<div class="sidebar-wrapper" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    @for (int i = 1; i <= 12; i++)
    {
        var isActive = CurrentStep == i;
        var isCompleted = i < CurrentStep;

        <div class="sidebar-option @(isActive ? "active" : "")"
             @onclick="() => OnStepChange.InvokeAsync(i)">
            <span class="option-text" style="font-size: 14px;">Opção @i</span>

            @if (isActive)
            {
                <img src="Icons/Is-Active.png" width="24" />
            }
            else if (isCompleted)
            {
                <img src="Icons/Complete.png" width="24" />
            }
            else
            {
                <img src="Icons/Tocomplete.png" width="24" />
            }
        </div>
    }
</div>

@code {
    [Parameter] public int CurrentStep { get; set; }
    [Parameter] public EventCallback<int> OnStepChange { get; set; }
}
