<!-- Tipo de Taxa -->
<div class="section-box mb-4" style="padding: 32px;">
    <label class="form-label section-title" style="margin-top: -8px;">Tipo de taxa</label>
    <p class="section-subtitle" style="margin-top: 12px;">Adicionar tipo de taxa</p>
    
     <select class="form-select custom-select" style="margin-top: 20px; width: 157px;" @bind="SelectedTaxType">
        <option disabled selected>Selecionar</option>
        @foreach (var tax in TaxTypes)
        {
            <option>@tax</option>
        }
    </select>
</div>

<!-- Contar -->
<div class="counter-box mb-4">
    <div style="padding: 32px 32px 55px 32px;">
        <label class="form-label fw-semibold d-block" style="color: #686C73; font-size: 20px;">Contar *</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="contarSim" value="Sim" />
            <label class="form-check-label" style="color: #141D2A; font-size: 14px;" for="contarSim">Sim</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="contarNao" value="Não"  />
            <label class="form-check-label" style="color: #141D2A; font-size: 14px;" for="contarNao">Não</label>
        </div>
    </div>
</div>

<!-- Switch: Taxa por Produto -->
<div class="section-box">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="toggleTax" @bind="TaxaPorProduto">
        <label class="form-check-label" for="toggleTax">Taxa por Produto</label>
    </div>
</div>

@code {
    private string SelectedTaxType = "NUTS";
    private string Contar = "Sim";
    private bool TaxaPorProduto = false;

    private List<string> TaxTypes = new()
    {
        "NUTS",
        "IVA",
        "ICMS",
        "ISS",
        "Outro"
    };
}
